<div class="container">
  <div class="row">
    <div class="card card-body bg-dark">
      <div class="text-light" style="padding: 2.5ch">
        <h1 class="text-center">404</h1>
        <p class="text-center">Page not found</p>
        <div class="text-center" style="display: 2.5ch">
          <a
            class="btn btn-outline-light text-outline-dark text-center btn-center"
            href="/apiTask/v1.0"
            role="button"
            type="link"
            style="padding: 2.5ch"
          >Home page</a>
        </div>
      </div>
    </div>
  </div>
</div>