<div class="text-light" style="padding: 2.5ch">
  <div>
    <h1> About me</h1>
    <p>Hello! I'm Joaquín, born on 11/6/1998, I'm looking for my first job in
      the IT industry, waiting for an opportunity. In February 2021, I made my
      first algorithm and I felt like a genius. Over time I became interested in
      backend development. My strong languages ​​are Java, JavaScript and C. I
      use the Node.js and SpringBoot frameworks. And I have knowledge in SQL and
      non-SQL Databases.
    </p>
  </div>
  <div>
    <h2>Contact me</h2>
    <a
      class="btn btn-outline-info text-white"
      href="https://www.linkedin.com/in/joaquinleonardolabrador"
      role="button"
      type="link"
    >
      LinkedIn 📢
    </a>
    <a
      class="btn btn-outline-dark text-white"
      href="https://github.com/joaquin-labrador"
      role="button"
      type="link"
    > GitHub 🖤</a>
  </div>
</div>