<nav class="navbar navbar-dark bg-dark mb-4">
    <div>
            <a class="btn btn-outline-dark text-white" href="/apiTask/v1.0" role="button" type="link">Home page</a></li>
            <a class="btn btn-outline-dark text-white" href="/apiTask/v1.0/aboutMe" role="button" type="link">About
            me</a>
    </div>
</nav>